@import 'src/components/styles/sass/variables';
@import '../components/title/Button.module';

.contacts{
    min-height: 50vh;
    padding: 20px;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    .container {
        width: 450px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 30px;
        .form{
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 150px;
            justify-content: space-between;
            margin: 20px 0;
            align-items: center;
            input{
                padding: 5px 15px;
                width: 100%;
                background-color: $bgSecondColor;
                margin-bottom: 10px;
                border: 1px solid #4a4a4a;
                color: white;
            }
            textarea{
                height: 150px;
                width: 100%;
                background-color: $bgSecondColor;
                border: 1px solid #4a4a4a;
                color: white;
                padding: 5px 15px;
                @media screen and (max-width: 460px){
                    height: 80px;
                }
            }
            @media screen and (max-width: 370px){
                width: 80%;
            }
            button[type='submit']{
                @extend .btn;
                align-self: center;
                background-color: transparent;
                margin-top: 30px;
            }
        }
    }
}

input[type="text"]::-webkit-input-placeholder { color: #ffd595; }
textarea::-webkit-input-placeholder { color: #ffd595; }



