@import '../components/styles/sass/variables';
@import '../components/styles/sass/mixins';

.footer{
    background-color: $bgSecondColor;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    h2{
        letter-spacing: 3px;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        display: block;
        font-family: 'Josefin Sans', sans-serif;
    }
    .container{
        display: flex;
        justify-content: space-between;
        width: 230px;
        padding: 10px;
        .footerElement{
            width: 60px;
            height: 60px;
            background-color: blueviolet;
        }
        img {
            width: 50px;
        }
    }
    h6{
        font-family: $textFontFamily;
        font-size: 14px;
        color: $textColor;
        letter-spacing: 1.8px;
        font-weight: normal;
    }
}




